<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.EmployeeMapper">
	<!-- 학생 Mapper Start -->
	<select id="countStudent" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(*) FROM student
		<where>
			<if test="searchWord != null || searchWord != ''">
				student_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM student
		WHERE student_no = #{studentNo}
	</delete>
	
	<insert id="insertStudent" parameterType="goodee.gdj58.online.vo.Student">
		INSERT INTO student (
			student_id
			, student_pw
			, student_name
		) VALUES (
			#{studentId}
			, PASSWORD(#{studentPw})
			, #{studentName}
		)
	</insert>
	
	<select id="selectStudentList" resultType="goodee.gdj58.online.vo.Student" parameterType="java.util.Map">
		SELECT
			student_no studentNo 
			, student_id studentId
			, student_name studentName
		FROM student
		<where>
			<if test="searchWord != null || searchWord != ''">
				student_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		GROUP BY student_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 학생 Mapper End -->
	
	<!-- 강사 Mapper Start -->
	<select id="countTeacher" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(*) FROM teacher
		<where>
			<if test="searchWord != null || searchWord != ''">
				teacher_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM teacher
		WHERE teacher_no = #{teacherNo}
	</delete>
	
	<insert id="insertTeacher" parameterType="goodee.gdj58.online.vo.Teacher">
		INSERT INTO teacher (
			teacher_id
			, teacher_pw
			, teacher_name
		) VALUES (
			#{teacherId}
			, PASSWORD(#{teacherPw})
			, #{teacherName}
		)
	</insert>
	
	<select id="selectTeacherList" resultType="goodee.gdj58.online.vo.Teacher" parameterType="java.util.Map">
		SELECT
			teacher_no	teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		<where>
			<if test="searchWord != null || searchWord != ''">
				teacher_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		GROUP BY teacher_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 강사 Mapper End -->
	
	<!-- 사원 Mapper Start -->
	<select id="countEmp" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(*) FROM employee
		<where>
			<if test="searchWord != null || searchWord != ''">
				emp_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<update id="updateEmployeePw" parameterType="java.util.Map">
		UPDATE employee 
		SET emp_pw = PASSWORD(#{newPw})
		WHERE emp_no = #{empNo} AND emp_pw = PASSWORD(#{oldPw}) 
	</update>
	
	<select id="login" parameterType="goodee.gdj58.online.vo.Employee" resultType="goodee.gdj58.online.vo.Employee">
		SELECT
			emp_no empNo 
			, emp_id empId
			, emp_name empName
		FROM employee
		WHERE emp_id = #{empId} AND emp_pw = PASSWORD(#{empPw})
	</select>

	<delete id="deleteEmployee" parameterType="int">
		DELETE FROM employee
		WHERE emp_no = #{empNo}
	</delete>

	
	<insert id="insertEmployee" parameterType="goodee.gdj58.online.vo.Employee">
		INSERT INTO employee (
			emp_id
			, emp_pw
			, emp_name
		) VALUES (
			#{empId}
			, PASSWORD(#{empPw})
			, #{empName}
		)
	</insert>
	
	<select id="selectEmployeeList" resultType="goodee.gdj58.online.vo.Employee" parameterType="java.util.Map">
		SELECT
			emp_no	empNo <!-- re.getInt("emp_no"), new employee().setEmpNo() 필드명 일치 시키는 단순한 방법(as명사용) resultMap사용해서 설정가능-->
			, emp_id empId
			, emp_name empName
		FROM employee
		GROUP BY emp_no DESC
	</select>
	
	<!-- 
	부트스트랩 자체 적용으로 주석처리
	<select id="selectEmployeeList" resultType="goodee.gdj58.online.vo.Employee" parameterType="java.util.Map">
		SELECT
			emp_no	empNo
			, emp_id empId
			, emp_name empName
		FROM employee
		<where>
			<if test="searchWord != null || searchWord != ''">
				emp_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		GROUP BY emp_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select> 
	-->
	<!-- 사원 Mapper End -->
</mapper>