<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.StudentMapper">
	<!-- 결과확인 시험지출력(문제번호,문제명) -->
	<select id="scoreQuestionList" resultType="java.util.Map" parameterType="int">
		SELECT q.question_no questionNo
			, q.test_no testNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, p.student_no studentNo
			, p.paper_no paperNo
			, p.answer answer
		FROM question q
		inner JOIN paper p
		ON q.question_no = p.question_no
		WHERE q.test_no = #{testNo} AND p.student_no = #{studentNo}
		ORDER BY q.question_no ASC
	</select>
	
	<!-- 시험지출력(보기번호,보기명) -->
	<select id="exList" resultType="java.util.Map" parameterType="int">
		SELECT 
			q.question_no questionNo
			, q.test_no testNo
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM question q 
		INNER JOIN example e
		ON q.question_no = e.question_no
		WHERE q.test_no = #{testNo}
		ORDER BY example_idx ASC
	</select>
	
	<!-- 학생 pw 수정 -->
	<update id="updateStudentPw" parameterType="java.util.Map">
		UPDATE student 
		SET student_pw = PASSWORD(#{newPw})
		WHERE student_no = #{studentNo} AND student_pw = PASSWORD(#{oldPw}) 
	</update>
	
	<!-- 시험지출력(문제번호,문제명) -->
	<select id="qList" resultType="goodee.gdj58.online.vo.Question" parameterType="java.util.Map">
		SELECT question_no questionNo
			, test_no testNo
			, question_idx questionIdx
			, question_title questionTitle
		FROM question
		WHERE test_no = #{testNo}
		ORDER BY question_no ASC
	</select>
	
	<!-- 시험리스트 count -->
	<select id="countTList" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(*) FROM test
		<where>
			<if test="searchWord != null || searchWord != ''">
				test_title like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<!-- 시험 목록 -->
	<select id="selectTList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		<where>
			<if test="searchWord != null || searchWord != ''">
				test_title like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		GROUP BY test_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 학생 로그인 -->
	<select id="loginSd" parameterType="goodee.gdj58.online.vo.Student" resultType="goodee.gdj58.online.vo.Student">
		SELECT
			student_no studentNo 
			, student_id studentId
			, student_name studentName
		FROM student
		WHERE student_id = #{studentId} AND student_pw = PASSWORD(#{studentPw})
	</select>
</mapper>