<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">
	<!-- 시험 추가 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test(
			test_title
			, test_date
			) VALUE (
				#{testTitle}
				, #{testDate}
			)
	</insert>
	
	<!-- 시험 수정 -->
	<update id="updateTest" parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test 
		SET test_title = #{testTitle}
			, test_date = #{testDate}
		WHERE test_no = #{testNo}
	</update>
	
	<!-- 시험 삭제 -->
	<delete id="deleteTest" parameterType="int">
		DELETE FROM test
		WHERE test_no = #{testNo}
	</delete>
	
	<!-- 시험 목록 -->
	<select id="testList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_date DESC
	</select>
</mapper>